/* Configuraciones */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    font-size: 62.5%;
}
    /* Cuerpo */
body{
    background-color: bisque;
    display: block;
}
    /* Encabezado */
.container-head{
    display:flex;
    justify-content: center;
    background-color: #721817;
    padding: 3px;
}
h1{
    font-family: sans-serif;
    font-size: 3rem;
    margin: 1px;
    padding: 10px;
    color: white;
}

    /* Navegacion */
.nav{
    width: 100%;
    height: 30px;
    background-color: #721817;
    padding: 3px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.24) ;
}
.nav-list{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 300px;
}
.nav-list__item{
    font-family: sans-serif;
    font-size: 1.5rem;
    padding-bottom: 5px;
    border-radius: 2px;
    margin-bottom: 5px;
}
.nav-list__item__link{
    text-decoration: none;
    color: aliceblue;
}
    /* Contenido Principal */
main{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
.container{
    width: 100%;
    background-color: #fff;
    border: 1px solid whitesmoke;
    margin: 10px 0px;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2) ;
}
.titulo-post-link{
    color: #000;
}
.description-post{
    color: rgb(103, 103, 103);
    margin: 2px 0px;
    padding: 3px 0px;
}
    /* Footer */
footer{
    display: flex;
    align-items: flex-end;
}
.foot{
    width: 100%;
    height: 15vh;
    background-color:#721817;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copy{
    font-size: 1.5rem;
    color: white;
}
.copy a{
    color: #fff;
}
