/* Configuraciones */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    font-size: 62.5%;
}
    /* Cuerpo */
body{
    background-color: #264653;
    display: block;
}
    /* Encabezado */
.container-head{
    display:flex;
    justify-content: center;
    padding: 3px;
}
h1{
    font-size: 3rem;
    margin: 1px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    color: #72EFDD;
}

    /* Navegacion */
.nav{
    width: 100%;
    height: 30px;
    background-color: #335C67;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.24) ;
}
.nav-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 300px;
}
.nav-list__item{
    font-size: 1.5rem;
    padding: 8px;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    margin-bottom: 5px;
}
.nav-list__item:nth-child(1):hover{
    border-bottom: 2px solid white;
}  
.nav-list__item:nth-child(2):hover{
    border-bottom: 2px solid white;
}   
.nav-list__item:nth-child(3):hover{
    border-bottom: 2px solid white;
}    
.nav-list__item__link{
    text-decoration: none;
    color: aliceblue;
}
    /* Contenido Principal */
main{
    display: flex;
    flex-wrap: wrap;
}
.section-one--title{
    width: 100%;
    margin: 20px 15px 10px;
    padding-bottom: 14px;
    border-bottom: 1px solid #335C67;
    font-size: 1.8rem;
    color: #fff;
}
section{
    width: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 210px;
    
    max-width: 960px;
    justify-content:center;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    align-items: center;
}
.icon-section-one{
    width: 24px;
    height: 24px;
}
.post {
    overflow: hidden;
    width: 300px;
    height: 180px;
    border-radius: 7px;
    position: relative;
    margin: 0 10px;
}
.post:nth-child(2){
    scroll-snap-align: center;
}
.post-image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post-text-container{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background-color:#222222a7;
}
.title-post{
    padding: 10px 10px 0;
    font-size: 1.5rem;
}
.title-post a {
    color: white;
    text-decoration: none;
}
.title-post a:hover {
    text-decoration: underline;
}
.description-post{
    color: #fff;
    padding: 4px 10px ;
    font-weight: 400;
    font-size: 1rem;
}
    /* Footer */
footer{
    display: flex;
    align-items: flex-end;
}
.foot{
    width: 100%;
    height: 15vh;
    background-color: #335C67;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copy{
    font-size: 1.5rem;
    color: white;
}
.copy a{
    color: #fff;
}
